@import './styles/variables.scss';
@import './styles/items.scss';
@import './styles/header.scss';

* {
    box-sizing: border-box;
}

html {
    // font-family: 'Noto Sans JP', sans-serif;
    font-family: 'Doppio One', sans-serif;
}

body {
    line-height: 1.5;
    margin: 0;
    position: relative;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

button.cart-add {
    margin-top: auto;
    cursor: pointer;
    width: 100%;
    background-color: $primary;
    border-radius: 0px 0px 4px 4px;
    border: unset;
    font-size: 14px;
    padding: 8px 16px;
    color: $white;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}